---
layout: default
---
<article class="post post-wrapper" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="post-title" itemprop="name headline">{{ page.title }}</div>
    <div class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<!-- <footer class="entry-meta">
	This entry was posted in <a href="http://johnpolacek.com/category/development/" rel="category tag">development</a>, <a href="http://johnpolacek.com/category/git/" rel="category tag">git</a> by <a href="http://johnpolacek.com/author/johnpolacek/">johnpolacek</a>. Bookmark the <a href="http://johnpolacek.com/2016/01/29/keep-gh-pages-and-master-in-sync-with-one-line-of-code-2/" title="Permalink to Keep gh-pages and master in sync with one line of code" rel="bookmark">permalink</a>.
</footer> -->
